*{
    margin: 0;
    padding: 0;
}
#home-screen{

    width: 100vw;
    height: 100vh;
    background-color: honeydew;
    text-align: center;
}

#welcome-text{
    padding-top: 2%;
}

#change-bg-color{
    color: rgb(114, 165, 42);
    margin-top: 3%;
}

.box{
    display: block;
    background-color: rgb(138, 221, 225);
    margin: 5px auto;
    height: 300px;
    width: 300px;

}

img{
    position: absolute;
    width: 15%;
    top: 80%;
    right: 25%;
}




@keyframes sliding {
    
    
}