*{
    margin: 0;
    padding: 0;
}
#home-screen{

    width: 100vw;
    height: 100vh;
    background-color: honeydew;
    text-align: center;
}

#welcome-text{
    padding-top: 2%;
}

#change-bg-color{
    color: greenyellow;
    margin-top: 3%;
}

.box{
    display: block;
    background-color: darkturquoise;
    margin: 5px auto;
    height: 300px;
    width: 300px;

}

img{
    position: absolute;
    width: 15%;
    top: 80%;
    right: 25%;
}

.animate-img{
    animation: imagesize 5s;
}



@keyframes imagesize {
    0%{
        width: 15%;
    }
    50%{
        width: 30%;
    }
    100%{
        width: 15%;
    }

    
    
}